.post {
  max-width: 550px;
  margin: 2vh auto;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  z-index: -2;
  border-radius: 1rem;
}
.post:first-child {
  margin-top: 8vh;
}

.post-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.post-header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post-header-left > h3 {
  margin-left: 10px;
}

.post > img {
  width: 100%;
  max-height: 450px;
}

.post-icons {
  width: 100%;
  padding: 0.5rem;
  padding-left: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-icons > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-icons > div:nth-child(2) > i {
  font-size: 1.4em;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  padding: 5px;
}
i {
  cursor: pointer;
}

.post-write-comment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  border-top: 1px solid rgb(247, 247, 247);
  padding: 0.2rem;
}
.post-write-comment > input {
  flex: 1;
  padding: 0.9rem;
  border: none;
  outline: none;
  font-size: 1.1rem;
}
.post-caption > p {
  margin-left: 1vw;
  overflow-wrap: anywhere;
}
.send-btn {
  margin-right: 10px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: rgb(52, 126, 196);
}
.delete-modal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.delete-modal > .buttons {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 5px 0 0;
}

.buttons > button {
  padding: 8px 5px;
  margin: 0 10px;
  min-width: 50px;
  background-color: rgb(199, 199, 199);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 570px) {
  .post {
    max-width: 90vw;
  }
}
@media (max-width: 400px) {
  .post > img {
    max-height: 300px;
  }
  .post-write-comment > input {
    padding: 0.4rem;
    font-size: 0.9rem;
  }
  .post-avatar {
    width: 22px !important;
    height: 22px !important;
  }
  .post-header-left > h3 {
    font-size: 15px;
  }
  .post-caption > p {
    font-size: 13px;
    margin-left: 2vw;
  }
  .fas,
  .far {
    font-size: 1.3em !important;
  }
  .icon {
    margin-right: 10px;
  }
  .post-icons > div:nth-child(2) > i {
    font-size: 1.1em !important;
  }
  .delete-modal > h3 {
    font-size: 15px;
  }
}
